body{
background:#f9f7fb;
font-family: sans-serif;
margin:0;
color:#444;
}

header{
padding:30px;
text-align:center;
}

.hero{
margin:40px;
padding:80px;
background:#e8dff5;
border-radius:30px;
text-align:center;
}

.about{
margin:40px;
padding:50px;
background:white;
border-radius:25px;
box-shadow:0 10px 25px rgba(0,0,0,0.05);
}

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
padding:40px;
}

.photo{
overflow:hidden;
border-radius:20px;
transition:0.6s;
}

.photo img{
width:100%;
display:block;
}

.photo:hover{
transform:scale(1.05);
}

.contact{
margin:40px;
padding:50px;
background:#d4f1f4;
border-radius:30px;
text-align:center;
}

.hidden{
opacity:0;
transform:translateY(40px);
transition:all 0.8s;
}

.show{
opacity:1;
transform:translateY(0);
}

.about{
display:flex;
justify-content:center;
align-items:center;
gap:60px;
max-width:1100px;
margin:80px auto;
padding:40px;
}

.about img{
width:300px;
border-radius:20px;
box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

.about-text{
max-width:500px;
font-size:18px;
line-height:1.7;
text-align:left;
}
